*{

    margin: 0;
    padding: 0;
}

body{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color:#fafafa ;
height: 100vh;

}

.header{
    background-color: #32cd32;
    padding: 10px;
    color: #fff;
    border-radius: 15px;
    margin: 10px;
    position: sticky;
    top: 0;


}

span{
    color: #ffd700;
}

.head{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.span{
    color: #003cd0;

}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 50%;


}

.btn{
    background-color: #003cd0;
    padding: 10px;
    margin: 20px;
    margin-top: 50px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
}

.body1{
    height: 500px;
}

.re{
    margin: 10px;
    padding: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-justify: auto;
}
.con{
    background-color: #32cd32;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #fafafa;
}

